[submodule "oh-my-zsh-custom/plugins/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "nanorc-folder/syntax-highlighting"]
	path = nanorc-folder/syntax-highlighting
	url = https://github.com/scopatz/nanorc.git
[submodule "oh-my-zsh-custom/plugins/plugins/bd"]
	path = oh-my-zsh-custom/plugins/plugins/bd
	url = https://github.com/Tarrasch/zsh-bd.git
[submodule "oh-my-zsh-custom/plugins/plugins/nohup"]
	path = oh-my-zsh-custom/plugins/plugins/nohup
	url = https://github.com/micrenda/zsh-nohup.git
[submodule "vim-vundle"]
	path = vim-vundle
	url = https://github.com/VundleVim/Vundle.vim
[submodule "fonts/Font-Awesome"]
	path = fonts/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "oh-my-zsh-custom/plugins/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom/plugins/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh-custom/plugins/plugins/zsh-completions"]
	path = oh-my-zsh-custom/plugins/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "oh-my-zsh-custom/plugins/fz"]
	path = oh-my-zsh-custom/plugins/fz
	url = https://github.com/changyuheng/fz
[submodule "oh-my-zsh-custom/plugins/k"]
	path = oh-my-zsh-custom/plugins/k
	url = https://github.com/supercrabtree/k
